<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>タイムライン</title>
    <link rel="stylesheet" href="style.css" />
  </head>
<body>
  <header><p>歌詞投稿</p></header>
  
<form action="/create" method="post">

  <div class="poem-form">

    <input placeholder="アーティスト名" name="artistName" >
    <input placeholder="曲名"　  name="songName" >
    <textarea  placeholder="歌詞" name="poemText"></textarea>
    <input type="submit" class="btn" value="投稿">

  </div>

</form>

  </div>
</body>